body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#crypto-container {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.crypto-item {
    display: inline-block;
    padding: 10px;
}
